.header {
    height: 75px;
    background: $black-color;

    &__wrapper {
        @include flex-center-space-between();
        height: 100%;
    }
    
    &__logo-icon {
        margin: 0 41px 0 0;
    }
    
    &__button-menu {
        background: transparent;
        border: none;
        margin: 0 25px 0 0;
    }
    
    &__user-link {
        margin: 0 42px 0 0;
    }
    
    
    &__wrapper-menu {
        display: none;
    }
}

